<div id="<%= dom_id post %>">
  <%= image_tag post.author.gravatar_url(:size => 30) %>
  <%= link_to "#{post.author.email }", user_path(post.author) %>
  <p>
    <%= post.body %>
  </p>
  <p>
    <strong>Likes:</strong>
    <%= post.likes.count %>
  </p>

</div>
