<div id="<%= dom_id post %>">
  <%= image_tag post.author.gravatar_url(:size => 30) %>
  <%= link_to "#{post.author.email }", user_path(post.author) %>
  <p>
    <%= post.body %>
  </p>
  <strong>Likes:</strong>
  <%= post.likes.count %> |
  <%= link_to "Comments", post_comments_path(post) %>:
  <%= post.comments.count %>

  <% if post.likes.exists?(user_id: current_user.id) %>
  <% like = post.likes.find_by(user_id: current_user.id) %>
  <%= button_to "Unlike post", post_like_path(post, like.id), method: :delete %>
<% else %>
  <%= button_to "Like post", post_likes_path(post), method: :post %>
<% end %>
</div>
