<h1>Home</h1>
<div id="navbar">
  <%= link_to "Notifications", notifications_path %> |
  <%= link_to "Profile", user_path(current_user) %> |
  <%= link_to "New post", new_post_path %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <br><%= render post %>
    <p>
      <%= link_to "View Post", post %>
    </p>
  <% end %>
</div>
<%= form_tag destroy_user_session_path, method: :delete do %>
  <%= submit_tag "Sign out" %>
<% end %>
